body {
  margin: 0;
  padding: 0;
  background: #E9E8E7;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
  margin-top: 5em;
  background: #ACD3CE;
  border: 5px solid #6FBEB6;
  width: 75%;
}

.container-inner {
  text-align: center;
  margin-top: 5em;
}

.footer {
  margin-top: 5em;
  background-color: #ACD3CE;
  position: absolute;
  width: 100%;
  border-top: 2px solid #6FBEB6;
}

.footer-inner {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 4em;
  color:#3E3E4B; 
}

h2 {
  font-weight: 100;
  font-size: 2em;
  color: #3E3E4B;
}

h4 {
  font-weight: 100;
  font-size: 1.5em;
  color: #3E3E4B;
  padding: 1em;
  text-align: left;
}

.days {
  color: #567E80;
}

hr {
   border: 0;
   height: 1px;
   background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
   background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
   background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
   background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

ul li {
  list-style-type: none;
  text-align: left;
}

a:link, a:visited {
  line-height: 1.5em;
  text-decoration: none;
  color:#567E80;
}

a:hover {
  text-decoration: underline;
}

