<h4>Read and Learn About How to Fix The Toxicity in Tech:</h4>
<ul>
  <% {
    "http://juliepagano.com/blog/2014/02/28/ally-smells-appropriation/" => "Ally Smells: Appropriation by Julie Pagano",
    "http://juliepagano.com/blog/2014/03/10/ally-smells-boundaries/" => "Ally Smells: Boundaries by Julie Pagano",
    "http://ashedryden.com" => "Ashe Dryden's Blog",
    "http://juliepagano.com/blog/2014/02/26/bad-ally-quiz/" => "Bad Ally Quiz by Julie Pagano",
    "http://adainitiative.org/2014/01/guest-post-conference-codes-of-conduct-as-seen-from-your-world-and-mine/" => "Conference Codes of Conduct as Seen From your World and Mine by Andromeda Yelton",
    "http://modelviewculture.com/pieces/dear-marginalized-people-coming-into-tech" => "Dear Marginalized People Coming into Tech by Kronda Adair",
    "http://smarterware.org/7550/designers-women-and-hostility-in-open-source" => "Designers, Women, and Hostility in Open Source by Gina Trapani",
    "http://thefeministwire.com/2013/10/17973/" => "Dig Deep: Beyond Lean In by bell hooks",
    "https://medium.com/the-power-of-harassment/29ea1546e91d" => "Drink Ups Are Rape Culture by Betsy",
    "https://medium.com/p/816abb069ddf" => "Empathy for the Truth-Tellers by Betsy",
    "http://geekfeminism.org" => "Geek Feminism",
    "http://doubleunion.tumblr.com/post/77929475144/how-not-to-support-women-in-tech" => "How Not to Support Women in Tech by DoubleUnion",
    "http://subfictional.com/2012/07/02/language-matters-stop-using-guys-to-address-mix-gender-groups/" => "Language Matters: Stop Using 'Guys' To Address Mix-Gender Groups by Christie Koehler",
    "http://www.starstryder.com/2012/07/15/make-the-world-better/" => "Make the World Better by Dr. Pamela Gay",
    "http://www.modelviewculture.com" => "Model View Culture",
    "http://rarlindseysmash.com/posts/on-accepting-privilege" => "On Accepting Privilege by Lindsey Bieda",
    "http://www.shakesville.com/2013/04/on-fixed-state-ally-model-vs-process.html?m=1" => "On Fixed-State Ally Model vs Process Model Ally Work by Melissa McEwan",
    "http://glenngillen.com/thoughts/on-meritocracy" => "On Meritocracy by Glenn Gillen",
    "http://farukat.es/journal/2013/09/696-primer-sexism-tech" => "A Primer on Sexism in Tech by Faruk Ateş",
    "http://www.diversityinc.com/diversity-management/proof-that-diversity-drives-innovation/" => "Proof that Diversity Drives Innovation",
    "http://medium.com/@shanley" => "Shanley Kane's Blog",
    "https://medium.com/p/e60c10d3ed1f" => "Software Engineering Made a Woman Out of Me by Jennifer Gilbert",
    "https://t.co/aCTUb5zDNN" => "Toxic Until Proven Healthy by Betsy",
    "http://www.starstryder.com/2013/11/06/truth-against-humanity/" => "Truth Against Humanity by Dr. Pamela Gay",
    "https://medium.com/ladybits-on-medium/3a01c7c65b71" => "What Women Don't Want by Khadijah M. Britton",
    "http://rarlindseysmash.com/posts/little-things" => "When it's Death by 1000 Paper Cuts The Little Things Count by Lindsey Bieda",
    "https://t.co/OSQJsgR1WB" => "Who Wins From Leaning In? by Kate Losse",
    "http://allison.house/blog/net-awards-diversity/" => "Why Diversity Actually Matters by Allison House",
    "http://bellejar.ca/2014/02/22/why-wont-you-educate-me-about-feminism/" => "Why Won't You Educate Me About Feminism? by Anne Thériault",
    "http://www.garann.com/dev/2012/you-keep-using-that-word/" => "You Keep Using that Word by Garann Means"
  }.each_pair do |url, text| %>
    <li><a href="<%= url %>" target="_blank"><%= text %></a></li>
  <% end %>
</ul>
