<section id="the-articles" name="the-articles"></section>
  <div id="articles">
    <div class="container">
      <div class="row centered">
        <h1>Read & Learn About How to Fix the Toxicity in Tech</h1>
        <div class="articles">
          <ul>
            <% CONFIG["articles"].each do |art| %>
              <li class="article-item">
              <div class="masthead-article">
                <h4><a href="<%= art["link"] %>" target="_blank"><%= art["name"] %></a>
                  <% unless art["author"].nil? %>
                    by: <%= art["author"] %></h4>
                <% end %>
              </div>
              </li>
            <% end %>
          </ul>
          <br><br>
        </div>
      </div>
    </div>
  </div>
