<p>Created by <a href="http://meaganwaller.com" target="_blank">Meagan Waller</a>. If you think an organization or article should be added to these lists please <a href="mailto:meaganewaller@gmail.com">let me know</a> or <a href="http://twitter.com/meaganewaller" target="_blank">send me a tweet about it.</a></p>
<p>The code for this website is <a href="https://gitlab.com/meaganewaller/daysincelasttechincident/tree/master" target="_blank">open sourced on GitLab</a> and accepting merge requests.</p>
