<section class="ss-style-triangles">
<div class="column text">
  <h1>The Tech Industry Has Gone 
    <span class="days">0</span> Days Without An Incident</h1>
  <h2>Previous Record: <span class="days">0</span> Days</h2>
</div>
</section>
