<h4>Donating to Organizations and People Working on Fixing our Toxic Culture:</h4>
<ul>
  <% {
    "http://adadevelopersacademy.org/" => "Ada Developers Academy",
    "http://adainitiative.org/" => "Ada Initiative",
    "http://adaslist.co/" => "Ada's List",
    "http://www.appcamp4girls.com/" => "App Camp For Girls",
    "https://www.gittip.com/ashedryden/" => "Ashe Dryden",
    "http://www.blackgirlscode.com/" => "Black Girls Code",
    "https://www.gittip.com/CallbackWomen/" => "Callback Women",
    "https://www.gittip.com/cczona/" => "Carina Zona",
    "http://clojurebridge.org" => "Clojure Bridge",
    "https://www.gittip.com/by_codebar/" => "Codebar",
    "http://www.codeed.org/index.html" => "Code Ed",
    "http://www.casinclude.org.uk/" => "Computer Science for All",
    "https://www.gittip.com/Bantik/" => "Coraline Ehmke",
    "http://cultureoffset.org" => "Culture Offset",
    "http://doubleunion.org" => "Double Union San Francisco",
    "http://ethicalco.de/" => "Ethical Code",
    "http://www.geekettes.io/" => "Geekettes",
    "http://girldevelopit.com/" => "Girl Develop It",
    "http://girlgeekdinners.com/" => "Girl Geek Dinners",
    "http://learninglabs.org/members/girls-learning-code/" => "Girls Learning Code",
    "http://www.girlsteachinggirlstocode.org/" => "Girls Teaching Girls to Code",
    "http://girlswhocode.com/" => "Girls Who Code",
    "http://www.hackbrightacademy.com/" => "Hackbright Academy",
    "https://www.gittip.com/juliepagano/" => "Julie Pagano",
    "http://ladieslearningcode.com/" => "Ladies Learning Code",
    "http://lesbianswhotech.org" => "Lesbians Who Tech",
    "https://www.lgbtech.org/" => "LGBTech",
    "https://www.gittip.com/LynnMagic/" => "Lynn Cyrin",
    "http://modelviewculture.org" => "Model View Culture",
    "http://www.opensourceforwomen.org/" => "Open Source for Women",
    "http://phpbridge.org/docs/" => "PHPBridge",
    "http://phpwomen.org/" => "PHP Women",
    "http://www.pyladies.com/" => "PyLadies",
    "http://railsbridge.org" => "Rails Bridge",
    "http://railsgirls.com" => "Rails Girls",
    "https://www.gittip.com/tkwidmer/" => "REFUGE Restrooms",
    "http://revisionpath.com/" => "Revision Path Podcast",
    "https://www.gittip.com/shanley/" => "Shanley Kane",
    "http://stemettes.org/" => "Stemettes",
    "http://www.technovationchallenge.org/home/" => "Technovation Challenge",
    "http://www.transhack.org/" => "TransH4CK"
  }.each_pair do |url, text| %>
    <li><a href="<%= url %>" target="_blank"><%= text %></a></li>
  <% end %>
</ul>
