<section id="credits" name="credits"></section>
<div id="credits">
  <div class="container">
    <div class="row centered">
      <h1>Credits & Attributions</h1>
      <div class="credits">
        <ul>
          <li>Donate designed by <a href="http://www.thenounproject.com/Mattebrooks">Matt Brooks</a> from the <a href="http://www.thenounproject.com">Noun Project</a></li>
          <li>Site Built Using <a href="http://sinatrarb.com" target="_blank">Sinatra</a></li>
          <li>Icon Font from <a href="http://fontello.com" target="_blank">Fontello</a></li>
          <li>Theme Based on <a href="http://www.blacktie.co/2013/10/pratt-app-landing-page/">Pratt Theme</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

