<!DOCTYPE HTML>
<html>
  <head>
    <title>Days Since Last Tech Incident</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= partial :header %>
    <section class="color">
    <h2 class="improve">How Can We Improve This Awful Track Record?</h2>
    <%= partial :organizations %>
    <%= partial :articles %>
    </section>
    <section class="ss-style-triangles">
    <%= partial :footer %>
    </section>
  </body>
</html>
