<section id="home" name="home"></section>
<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <h1>The Tech Industry Has Gone <b>0</b> Days Without an Incident</h1>
        <h3>Previous Record: <b>0 Days</b></h3>
        <h3>Every Day Marginalized People Are Discriminated Against, Harrassed, and Pushed Out of the Industry.</h3>
        <h3><b>Let's Help Put a Stop to It.</b></h3>
      </div>
    </div>
  </div>
</div>

<%= partial :people %>
<%= partial :organizations %>
<%= partial :articles %>
<%= partial :suggest %>
<script src="/js/bootstrap.js"></script>
</body>
</html>
